
p,li,h4{
    display: block;
    text-align: center;
}
h1{
    display: block;
    text-align: center;
}
#wk-1{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;

    

}
#wk-2{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
}
#wk-3{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
}

#wk-4{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;

}
#wk-5{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
    
}
#wk-6{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;;
    
}

#wk-7{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;

}
#wk-8{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
    
}
#wk-9{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
}

#wk-10{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;

}
#wk-11{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
    
}
#wk-12{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
    
}

#wk-13{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
}
#wk-14{
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: 50%;
}
